<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="bb1">
      <h1 style="display: flex; justify-content: center">URL</h1>
      <h2><a href="/">Home</a></h2>
      <div class="input-list">
        <input
          id="input"
          name="input"
          placeholder="Search"
          type="text"
          oninput="liveSearch()"
        />
      </div>
      <div class="">
        <% data.forEach(entry => { %>
        <div>
          <ul>
            <li class="list data">
              <%= entry.id %>. <%= entry.website %> ||
              <a href="/url/<%= entry.shortened_url %>">
                https://localhost:5000/url/<%= entry.shortened_url %>
              </a>
            </li>
          </ul>
        </div>
        <% }) %>
      </div>
    </div>
    <%- include('../partials/script') %>
  </body>
</html>
