<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div>
      <h1 style="display: flex; justify-content: center">Shortened URL</h1>
      <div class="input-list">
        <input
          id="input"
          name="input"
          placeholder="Enter URL"
          type="text"
          oninput="liveSearch()"
        />
      </div>
      <table>
        <tr>
          <th>Site</th>
          <th>Link</th>
        </tr>
        <div class="">
          <% data.forEach(entry => { %>
          <tr class="data">
            <td><%= entry.website %></td>
            <td>
              <a href="http://192.168.1.245:5000/url/<%= entry.shortened_url %>">
                http://192.168.1.245:5000/url/<%= entry.shortened_url %>
              </a>
            </td>
          </tr>
          <% }) %>
        </div>
      </table>
    </div>
    <%- include('../partials/script') %>
  </body>
</html>
